<div class="card">
  <h5 class="card-header">Verify OTP</h5>
  <div class="card-body">
    {{#if err_message}}
      <div class="alert alert-danger">{{err_message}}</div>
    {{/if}}
    <p>An OTP has been sent to <b>{{email}}</b></p>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">OTP Code</label>
        <input type="text" class="form-control" name="otp" required>
      </div>
      <button type="submit" class="btn btn-primary">Verify</button>
    </form>
  </div>
</div>